*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


/*      BODY
*/
body{
    background-color: #000000cc;
}





/*      BODY END
*/






/*      HEADER
*/
header{
    width: 100%;
    background-color: rgb(24, 12, 2);
    border-bottom: 2px solid #15b2da;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px 50px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont,
                 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
                 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hlavicka h2{
    font-size: clamp(24px, 2vw, 40px);
    color: #15b2da;
    letter-spacing: 5px;
    margin-bottom: 8px;
}

.hlavicka p{
    font-size: clamp(15px, 1.3vw, 24px);
    color: #ffffff;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.hlavicka span{
    color: #cfcfcf;
    font-size: clamp(12px, 1vw, 18px);
}

.contact{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact h4{
    color: white;
    font-size: clamp(12px, 1vw, 18px);
    font-weight: 500;
}

.ikona img{
    width: 130px;
    display: block;
}

@media (max-width: 768px){

    header{
        flex-direction: column;
        text-align: center;
        gap: 25px;
        padding: 25px 15px;
    }

    .header-info{
        align-items: center;
    }

    .ikona img{
        width: 100px;
    }
}


/**************************************/





/*tlačítko posunutí*/
html{
    scroll-behavior: smooth;
}

.scroll-btn{
    white-space: nowrap;
    text-align: center;
    margin: 30px auto;
    cursor: pointer;
}

.scroll-btn a{
    display: inline-block;
    padding: 12px 25px;
    background-color: #15b2da;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    font-size: clamp(14px, 1.2vw, 18px);
    transition: 0.3s;
}

.scroll-btn a:hover{
    background-color: #0f98bb;
    transform: translateY(-3px);
}


/**-****************************************/









/**************************************************zkušební */
.services{
    background:#ffffff;
    padding:100px 20px;
    border-radius: 20px;
}

.container{
    max-width:1200px;
    margin:auto;
}

.section-title{
    text-align:center;
    margin-bottom:70px;
}

.section-title span{
    color:#15b2da;
    font-weight:700;
    letter-spacing:2px;
    font-size: clamp(14px, 1.5vw, 28px);
    text-decoration: overline;
}

.section-title h2{
    font-size:42px;
    color:#111;
    margin:15px 0;
}

.section-title p{
    max-width:700px;
    margin:auto;
    color:#666;
    line-height:1.8;
    font-size:18px;
}

.services-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:30px;
}

.service-box{
    background:#fff;
    border:1px solid #e5e5e5;
    border-radius:15px;
    padding:35px;
    transition:.3s;
}

.service-box:hover{
    transform:translateY(-8px);
    border-color:#15b2da;
    box-shadow:0 15px 35px rgba(0,0,0,.08);
}

.icon{
    width:65px;
    height:65px;
    background:#15b2da;
    color:#fff;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
    margin-bottom:25px;
}

.service-box h3{
    font-size:24px;
    margin-bottom:15px;
    color:#111;
}

.service-box p{
    color:#666;
    line-height:1.7;
}

.service-info{
    margin-top:70px;
    background:#111;
    color:#fff;
    border-radius:20px;
    padding:50px;
    text-align:center;
}

.service-info h3{
    font-size:32px;
    margin-bottom:30px;
}

.service-info ul{
    list-style:none;
    padding:0;
    margin:0 0 40px;
}

.service-info li{
    margin:15px 0;
    font-size:18px;
}

.service-info li::before{
    content:"✔";
    color:#15b2da;
    margin-right:10px;
}

.btn-primary{
    display:inline-block;
    background:#15b2da;
    color:#fff;
    padding:16px 38px;
    border-radius:8px;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

.btn-primary:hover{
    background:#0f98bb;
    transform:translateY(-3px);
}


/********************************/

/*      HEADER END
*/










/*      MAIN
*/

main{
    width: 80%;
    text-align: center;
    margin: 2vw auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.me{
    background-color: rgba(0, 0, 0, 0.863);
    padding: 2vw;
    border-radius: 2vw;
    margin: 30px auto;
}

.me:hover{
    background-color: #f1e6e61a;
    transition: background 0.7s;
}

.me h1{
    font-size: clamp(24px, 1.7vw, 32px);
    padding: 15px;
    text-align: center;
    color: #fff;
}

.me h3{
    font-size: clamp(12px, 1.3vw, 22px);
    text-align: center;
    margin-top: 30px;
    color: #fff;
}

.me h3 i{
    color: #15b2da;
    font-size: clamp(14px, 1.4vw, 24px);
}



.projekty{
    margin: 2vw auto;
}

.projekty h1{
    margin-top: 80px;
    margin-bottom: 50px;
    text-decoration: overline;
    letter-spacing: 8px;
    color: #15b2da;
    font-size: clamp(30px, 2.2vw, 40px);
}

.projekty-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
    margin: auto;
}

.projekt{
    background: rgba(0,0,0,0.438);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

.projekt:hover{
    transform: scale(1.05);
}

.projekt img{
    width: 100%;
    border-radius: 10px;
}

.projekt h3{
    font-size: clamp(20px, 1.8vw, 30px);
    color: #fff;
    margin-top: 15px;
}

.projekt p{
    font-size: clamp(12px, 1.3vw, 22px);
    margin-bottom: 20px;
    color: #fff;
}

.projekt a{
    text-decoration: none;
    font-size: clamp(10px, 1.4vw, 20px);
    background-color: #15b2da;
    color: #fff;
    padding: 10px;
    border-radius: 12px;
    display: inline-block;
    white-space: nowrap;
}

.projekt a:hover{
    color: #000;
    background-color: #15b3daa8;
    transition: background 0.5s;
}

@media (max-width:900px){
    .projekty-row{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:600px){
    .projekty-row{
        grid-template-columns: 1fr;
    }
}


.projekty-menu{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.projekty-menu button{
    border: none;
    padding: 12px 20px;
    border-radius: 12px;
    background-color: #15b2da;
    color: white;
    cursor: pointer;
    font-size: clamp(12px, 1.2vw, 18px);
}

.projekty-menu button:hover{
    background-color: #15b3daa8;
    color: black;
    transition: 0.5s;
}

/* při načtení stránky budou vidět jen realizované */

#ukazkove{
    display: none;
}





/* SPOLUPRÁCE */

.spoluprace {
    max-width: 1200px;
    margin: 80px auto;
    padding: 0 20px;
    text-align: center;
}

.spoluprace h1 {
    margin-bottom: 50px;
    font-size: 2rem;
    color: #0f98bb;
    text-decoration: overline;
}

.kroky {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.krok {
    width: 250px;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.krok:hover {
    transform: translateY(-5px);
}

.krok span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    margin: 0 auto 15px;
    background: #1f3c88;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 50%;
}

.krok h3 {
    margin-bottom: 15px;
}

.krok p {
    line-height: 1.6;
}
/*      MAIN END
*/










/*      FOOTER
*/

footer {
    background-color: #1b1b1b;
    border-top: 3px solid #15b3daa8;
    margin-top: 80px;
}

.paticka {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 20px;
    text-align: center;
}

.paticka h3 {
    color: #15b3daa8;
    margin-bottom: 10px;
}

.paticka p {
    color: #dcdcdc;
    margin: 5px 0;
}

.paticka-copy {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #444;
    font-size: 14px;
}




/*      FOOTER END
*/



